.idea/
.vs/
bin/
bin-int/
*.bat
premake5.exe
Deps/
imgui.ini
Archive/
**.user
**.vcxproj
**.vcxproj.filters
**.sln
Resources/
Resources/Shaders/bak/
!Resources/Shaders/
**/obj/
**.log
**.meshes
**.scene
**.materials
